* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 13px;
  color-scheme: light dark;
  --title-font-size: 1.5rem;
  --text-font-size: 1rem;
  --desc-font-size: 0.875rem;
  --app-safe-area-top-fallback: 0px;
  --app-safe-area-right-fallback: 0px;
  --app-safe-area-bottom-fallback: 0px;
  --app-safe-area-left-fallback: 0px;
  --app-safe-area-top: max(env(safe-area-inset-top, 0px), var(--app-safe-area-top-fallback));
  --app-safe-area-right: max(env(safe-area-inset-right, 0px), var(--app-safe-area-right-fallback));
  --app-safe-area-bottom: max(env(safe-area-inset-bottom, 0px), var(--app-safe-area-bottom-fallback));
  --app-safe-area-left: max(env(safe-area-inset-left, 0px), var(--app-safe-area-left-fallback));
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100vw;
  overflow: hidden;
}

.van-popup--bottom {
  padding-bottom: var(--app-safe-area-bottom);
}

.van-nav-bar {
  background: transparent !important;
  &::after {
    border: none !important;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}
